@import '_reset';

/* $FontFamilyMain: 'Lato', sans-serif; */
$ColorTextMain: #fff;
$ColorTextSecond: #3c3c3c;
$fsCaptionLG: 34px;
$fsDescriptionLG: 15px;
$lhDescriptionLG: 24px;


/*
about {
    fs__caption: 34px;
    fs__description: 15px;
    lh__description: 24px;
}
services {
    fs__caption: 34px;
    fs__description: 16px;
    lh__description: 26px;
}
what we do {
    fs__caption: 34px;
    fs__title: 20px;
    fs__description: 14px;
    lh__description: 25px;
}  
gallery {
    fs__caption: 34px;
}
contact {
    fs__caption: 30px;
    fs__description: 16px;
    lh__description: 26px;
}

/* menu */
.menu {
    position: fixed;
    top: 5%;
    right: 0;
    background-color: rgba(208, 227, 252, 0.63);
    z-index: 10;

    &__btn {
        display: inline-block;
        font-size: 42px;
        color: rgb(67, 106, 153);
        padding: 5px;
        transform-origin: center;
        transition: 0.5s ease;

        &--open {
            transform: rotate(-180deg);
        }
    }
}
.nav {
    display: none;
    width: 200px;
    list-style: none;
    padding: 0;

    &__block {
        padding: 0 10px;
        margin: 5px 0;
        background-color: rgba(255, 255, 255, 0.5);

        &:hover {
            margin-left: -20px;
        }
    }

    &__link {
        font-size: 40px;
        font-weight: 700;
        color: rgb(67, 106, 153);
    }
}
/* page */
html {
    height: 100%;
    width: 100%;
}
.page {
    background-size: cover;
    background-position: center;

    &__mainer {
        max-width: 904px;
        padding: 0 15px;
        box-sizing: content-box;
        margin: 0 auto;
    }
}
/* header */
.page {

    &--header {
        padding: 285px 0 115px 0;
        background-image: url(../images/bg-header.jpg);

        @media screen and (max-width: 1199px) {
            padding: 180px 0 75px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 125px 0 50px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 85px 0 34px 0;
        }
    }
}
.header {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

    &__logo {
        margin: 0 0 90px 0;

        @media screen and (max-width: 1199px) {
            margin: 0 0 70px 0;
        }

        @media screen and (max-width: 991px) {
            margin: 0 0 50px 0;
        }

        @media screen and (max-width: 575px) {
            margin: 0 0 27px 0;
        }
    }

    &__logo-img{
        width: 67px;
        height: 70px;

        @media screen and (max-width: 575px) {
            width: 35px;
            height: 37px;
        }
    }

    &__caption {
        font-size: 54px;
        font-weight: 700;
        color: $ColorTextMain;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding: 0;
        margin: 0 0 50px 0;

        @media screen and (max-width: 991px) {
            font-size: 50px;
        }

        @media screen and (max-width: 767px) {
            font-size: 48px;
        }

        @media screen and (max-width: 575px) {
            font-size: 36px;
        }
    }

    &__description {
        font-size: $fsDescriptionLG; /* =15px */
        line-height: $lhDescriptionLG + 5px; /* =29px */
        color: $ColorTextMain;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 245px 0;

        @media screen and (max-width: 1199px) {
            margin: 0 0 180px 0;
        }

        @media screen and (max-width: 991px) {
            margin: 0 0 140px 0;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 1px; /* =14px */
            line-height: $lhDescriptionLG - 4px; /* =20px */
            margin: 0 0 74px 0;
        }
    }

    &__scroll-img {
        width: 23px;
        height: 37px;
        fill: $ColorTextMain;

        @media screen and (max-width: 575px) {
            display: none ;
        }
    }
}
/* about */
.page {
    
    &--about {
        padding: 160px 0;

        @media screen and (max-width: 1199px) {
            padding: 120px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 100px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 48px 0;
        }
    }
}
.about {
    @import '_border';
    border-color: $ColorTextSecond;
    
    @media screen and (max-width: 767px) {
        padding-top: 30px;
    }

    &::before,
    &::after {
        background-color: $ColorTextSecond;
    }

    &__caption {
        font-size: $fsCaptionLG; /* =34px */
        font-weight: 700;
        color: $ColorTextSecond;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 767px) {
            font-size: $fsCaptionLG - 2px; /* =32px */
            letter-spacing: 5px;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 4px; /* =30px */
            letter-spacing: 2px;
        }

        @media screen and (max-width: 480px) {
            font-size: $fsCaptionLG - 8px; /* =26px */
        }
    }

    &__description {
        font-size: $fsDescriptionLG; /* =15px */
        font-weight: 300;
        line-height: $lhDescriptionLG; /* =24px */
        color: $ColorTextSecond;
        margin: 0 auto;

        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 1px; /* =14px */
            line-height: $lhDescriptionLG - 4px; /* =20px */
        }

        &:nth-child(2) {
            max-width: 560px;
            margin-bottom: 25px;

            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        &:last-child {
            max-width: 450px;
        }
    }
}
/* services */
.page {
    
    &--services {
        background-image: url(../images/bg-services.jpg);
        padding: 128px 0 109px 0;

        @media screen and (max-width: 1199px) {
            padding: 110px 0 80px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 100px 0 70px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 48px 0;
        }
    }
}
.services {
    @import '_border';
    border-color: $ColorTextMain;

    @media screen and (max-width: 767px) {
        padding-top: 30px;
    }

    &::before,
    &::after {
        background-color: $ColorTextMain;
    }

    &__caption {
        font-size: $fsCaptionLG; /* =34px */
        font-weight: 700;
        color: $ColorTextMain;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @media screen and (max-width: 767px) {
            font-size: $fsCaptionLG - 2px; /* =32px */
            letter-spacing: 5px;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 4px; /* =30px */
            letter-spacing: 2px;
        }

        @media screen and (max-width: 480px) {
            font-size: $fsCaptionLG - 8px; /* =26px */
        }
    }

    &__description {
        font-size: $fsDescriptionLG + 1px; /* =16px */
        font-weight: 300;
        line-height: $lhDescriptionLG + 2px; /* =26px */
        color: $ColorTextMain;
        margin: 0 auto;
        max-width: 560px;

        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 1px; /* =14px */
            line-height: $lhDescriptionLG - 4px; /* =20px */
        }
    }
}
/* whatwedo */
.page {
    
    &--whatwedo {
        padding: 120px 0 110px 0;

        @media screen and (max-width: 1199px) {
            padding: 110px 0 80px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 100px 0 70px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 48px 0;
        }
    }
}
.whatwedo {
    @import '_border';
    border-color: $ColorTextSecond;

    @media screen and (max-width: 767px) {
        padding-top: 30px;
    }

    &::before,
    &::after {
        background-color: $ColorTextSecond;
    }

    &__caption {
        font-size: $fsCaptionLG; /* =34px */
        font-weight: 700;
        color: $ColorTextSecond;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 767px) {
            font-size: $fsCaptionLG - 2px; /* =32px */
            letter-spacing: 5px;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 4px; /* =30px */
            letter-spacing: 2px;
        }

        @media screen and (max-width: 480px) {
            font-size: $fsCaptionLG - 8px; /* =26px */
            letter-spacing: 5px;
        }
    }
}
.skills {
    max-width: 560px;
    padding: 50px 0 60px 0;
    margin: 0 auto;

    @media screen and (max-width: 1199px) {
        padding: 40px 0;
    }

    @media screen and (max-width: 991px) {
        padding: 30px 0;
    }

    @media screen and (max-width: 575px) {
        padding: 20px 0;
    }

    &__icon {
        height: 90px;
        margin: 0 0 34px 0;
        fill: $ColorTextSecond;

        @media screen and (max-width: 1199px) {
            height: 80px;
            margin: 0 0 30px 0;
        }

        @media screen and (max-width: 991px) {
            height: 70px;
            margin: 0 0 25px 0;
        }

        @media screen and (max-width: 767px) {
            height: 60px;
            margin: 0 0 20px 0;
        }

        @media screen and (max-width: 575px) {
            height: 50px;
            margin: 0 0 10px 0;
        }
    }

    &__title {
        font-size: $fsCaptionLG - 14px; /* =20px */
        font-weight: 700;
        color: $ColorTextSecond;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 0 30px 0;

        @media screen and (max-width: 1199px) {
            margin: 0 0 20px 0;
        }

        @media screen and (max-width: 991px) {
            margin: 0 0 15px 0;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 16px; /* =18px */
            margin: 0 0 10px 0;
        }
    }

    &__description {
        font-size: $fsDescriptionLG - 1px; /* =14px */
        font-weight: 300;
        line-height: $lhDescriptionLG + 1px; /* =25px */
        color: $ColorTextSecond;
        
        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 3px; /* =14px */
            line-height: $lhDescriptionLG - 4px; /* =20px */
        }
    }
}
/* gallery */
.row {

    &--gallery {
        width: 100%;
        margin: 0 0 0 0;
    }
}
[class^="col"] {
    padding: 0px;
}
[class*="col-xl-6"] {
    padding: 0 10px;
}
[class*="col-md-6"] {
    padding: 0 5px;
}
.gallery {

    &__block {
        position: relative;
        font-size: 0;
        height: 237px;
        margin-bottom: 9px;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        
        @media screen and (max-width: 575px) {
            height: 200px;
        }

        &--topworkz {
            background-image: url(../images/gallery/topworkz.jpg);
        }

        &--joint {
            background-image: url(../images/gallery/joint.jpg);
        }

        &--market {
            background-image: url(../images/gallery/market.jpg);
        }

        &--worktop {
            background-image: url(../images/gallery/worktop.jpg);
        }

        &--lable {
            background-image: url(../images/gallery/lable.jpg);
        }

        &--kyiv {
            background-image: url(../images/gallery/kyiv.jpg);
        }
    }

    &__caption {
        position: absolute;
        left: 3%;
        bottom: 10%;
        font-size: $fsCaptionLG; /* =34px */
        font-weight: 700;
        color: $ColorTextMain;
        text-transform: uppercase;
        letter-spacing: 5px;

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 4px; /* =30px */
        }
    }
}
/* contact */
.page {
    
    &--contact {
        padding: 138px 0 60px 0;

        @media screen and (max-width: 1199px) {
            padding: 110px 0 55px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 100px 0 50px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 48px 0;
        }
    }
}
.contact {
    @import '_border';
    border-color: $ColorTextSecond;

    @media screen and (max-width: 767px) {
        padding-top: 30px;
    }

    &::before,
    &::after {
        background-color: $ColorTextSecond;
    }

    &__caption {
        font-size: $fsCaptionLG - 4px; /* =30px */
        font-weight: 700;
        color: $ColorTextSecond;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 767px) {
            font-size: $fsCaptionLG - 2px; /* =32px */
            letter-spacing: 5px;
        }

        @media screen and (max-width: 575px) {
            font-size: $fsCaptionLG - 4px; /* =30px */
            letter-spacing: 2px;
        }

        @media screen and (max-width: 480px) {
            font-size: $fsCaptionLG - 8px; /* =26px */
            letter-spacing: 5px;
        }
    }

    &__description {
        font-size: $fsDescriptionLG + 1px; /* =16px */
        font-weight: 300;
        line-height: $lhDescriptionLG + 2px; /* =26px */
        color: $ColorTextSecond;
        margin: 0 auto 40px auto;
        max-width: 560px;

        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 1px; /* =14px */
            line-height: $lhDescriptionLG - 4px; /* =20px */
            margin: 0 auto 15px auto;
        }
    }

    &__btn {
        display: block;
        max-width: 395px;
        height: 58px;
        border: 2px solid $ColorTextSecond;
        font-size: $fsDescriptionLG + 1px; /* =16px */
        line-height: 54px;
        color: $ColorTextMain;
        letter-spacing: 8px;
        text-transform: uppercase;
        transition: all 0.6s ease;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        @media screen and (max-width: 575px) {
            max-width: 250px;
            height: 50px;
            font-size: $fsDescriptionLG - 1px; /* =14px */
            line-height: 50px;
        }

        &:hover {
            color: $ColorTextSecond;
        }

        &::before {
            content: '';
            background-color: $ColorTextSecond;
            width: 100%;
            height: 600%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: -1;
            transition: all 0.6s ease;
        }

        &:hover::before {
            height: 0;
        }
    }
}
/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 60px 0;
    
    @media screen and (max-width: 1199px) {
        padding: 0 0 50px 0;
    }

    @media screen and (max-width: 991px) {
        padding: 0 0 40px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 0 0 20px 0;
    }

    &__logo {
        width: 35px;
        height: 37px;

        @media screen and (max-width: 575px) {
            width: 30px;
            height: 32px;
        }
    }

    &__text {
        font-size: $fsDescriptionLG - 1px; /* =14px */
        color: $ColorTextSecond;
        padding: 0 0 0 35px;

        @media screen and (max-width: 575px) {
            font-size: $fsDescriptionLG - 3px; /* =12px */
            padding: 0 0 0 10px;
        }
    }
}